body {
    background-image: url(https://images-platform.99static.com//-H_wgTeNs6IveGAeBL5cnonW2UE=/151x136:1849x1834/fit-in/500x500/99designs-contests-attachments/121/121665/attachment_121665077);
  background-repeat: no-repeat;
  background-position: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #007bff;
  }
  
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
